.courses {
    padding-block: 5rem;
}
.section-title .sub-title {
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #0a4d3c;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
}
.section-title .main-title{
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 57px;
    margin-top: 23px;
    line-height: 1.1;
    color: #2c241b;
}