.features {
    padding-bottom: 5rem;
}
.features-wrapper {
}
.single-feature{
 text-align: center;
 padding: 0 25px;
 margin-top: 50px;
}
.single-feature .feature-icon span {
    width: 170px;
    height: 170px;
    line-height: 175px;
    background-color: #f8f6f4;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s linear;
    transition-delay: 0.3s;
    font-size: 70px;
    color: #0a4d3c;
}
@media (width < 500px) {
    .single-feature .feature-icon span {
        width: 140px;
        height: 140px;
        line-height: 145px;
        font-size: 60px;
    }
}
.single-feature .feature-icon span::before {
    position: absolute;
    content: "";
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0a4d3c;
    transition: all 0.3s linear;
    transition-delay: 0.3s;
    z-index: -1;
}
@media (width < 500px) {
    .single-feature .feature-icon span::before {
       bottom: -120px;
    }
}
.single-feature .feature-icon span::after {
    position: absolute;
    content: '';
    bottom: -170px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffa300;
    transition: all 0.3s linear;
    z-index: -1;
 }
 @media (width < 500px) {
    .single-feature .feature-icon span::after {
       bottom: -140px;
    }
}
.feature-content {
    padding-top: 35px;
}
.content-wer {
    background-color: #fff;
}
.content-wer .title {
    font-size: 35px;
}
@media (width < 500px) {
    
.content-wer .title {
    font-size: 24px;
}
}
.content-wer p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.feature-content .roww {
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 1rem;
    text-align: center;
    background-color: #ffa300;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    margin-top: 35px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
@media (width < 500px) {
    .feature-content .roww {
        opacity: 1;
        visibility: visible;
    }
    }
.single-feature:hover .feature-content span{
    background-color: #0a4d3c;
}
 .active .feature-icon  span,
.single-feature:hover .feature-icon span {
    transition-delay: 0;
    color: #fff;
}
.active .feature-icon  span::before,
.single-feature:hover .feature-icon span::before {
    transition-delay: 0;
    bottom: 0px;
}
.active .feature-icon  span::after,
.single-feature:hover .feature-icon span::after {
    transition-delay: 0.3s;
    bottom: -150px;
}
@media (width < 500px) {
    
.active .feature-icon  span::after,
.single-feature:hover .feature-icon span::after {
    bottom: -120px;
}
    }
.active .feature-content .roww,
.single-feature:hover .feature-content .roww {
    opacity: 1;
    visibility: visible;
}